/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0 auto;
  width: 1000px;
}
body {
  margin: 0 auto;
  width: 70%;
}
header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 20px 20px;
  background: maroon;
}
header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
header a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
header a:hover {
  cursor: pointer;
  color: maroon;
  background: white;
}
.topSection {
  padding: 20px;
  text-align: center;
}
.topSection img {
  width: 70%;
  border: 2px solid #ddd;
  border-radius: 50px;
  padding: 10px;
}
.topSection img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.topSection p {
  padding-top: 20px;
  font-size: 3rem;
  font-weight: 1000;
}
.topSection button {
  font-size: 1.5rem;
  background-color: maroon;
  border: none;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 3px solid;
  border-radius: 50px;
}
.topSection button:hover {
  color: maroon;
  background: white;
  cursor: pointer;
  border: 3px solid maroon;
}
.appFeatures {
  padding-top: 20px;
  display: flex;
}
.appFeatures img {
  width: 50%;
  border: 2px solid #ddd;
  border-radius: 60px;
  padding: 10px;
}
.appFeatures h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-align: center;
  border: 5px solid maroon;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.appFeatures h1:hover {
  border: 5px solid black;
  color: maroon;
  cursor: pointer;
}
.appFeatures p {
  padding: 20px 0 0 20px;
  font-size: 1.5rem;
}
.appFeatures2 {
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.appFeatures2 img {
  width: 50%;
  border: 2px solid #ddd;
  border-radius: 60px;
  padding: 10px;
}
.appFeatures2 h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-align: center;
  border: 5px solid maroon;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.appFeatures2 h1:hover {
  border: 5px solid black;
  color: maroon;
  cursor: pointer;
}
.appFeatures2 p {
  padding: 20px 0 0 20px;
  font-size: 1.5rem;
}
footer button {
  font-size: 1.5rem;
  background-color: maroon;
  border: none;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border: 3px solid;
  border-radius: 50px;
  margin: 20px 0 20px 580px;
}
footer button:hover {
  color: maroon;
  background: white;
  cursor: pointer;
  border: 3px solid maroon;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 20px 20px;
  background: maroon;
}
footer nav a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 20px 5px 20px;
}
footer nav a:hover {
  cursor: pointer;
  color: maroon;
  background: white;
}
footer h1 {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  border: 3px solid black;
  margin: 20px 0 20px 0px;
}
